*{
    margin: 0;
    padding: 0;
}
body{
    background:bisque;
}
.header {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom:2px solid #ccc ;
    box-shadow: 9px 4px 18px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
    display: flex;
    gap: 25px;
}
.nav a {
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
}
.nav a:hover {
    color: rgb(82, 82, 234);
}
.box{
    width: 1180px;
    height: 530px;
    background:transparent;
    margin: auto;
    padding: 20px;
}
#box1{
    margin-top: 150px;
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: left;
    color: #434141;
}
#box1 .name h1{
    font-size: 150px;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    color: #434141;
}
.name h3{
    font-size: 30px;
}
.name p{
    font-size: 20px;
}
.social-icons{
   display: flex;
   justify-content: center;
}
.social-icons a{
    color: #666262;

}
.social-icons a:hover{
    color: black;
}
.social-icon-box{
    background: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 30px;
    border: 2px solid #434141;
    border-radius: 5px;
    box-shadow: 10px 10px 30px black;
    position:fixed;
    left: 0;
    top: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.image img{
    width: 350px;
    height: 454px;
    border-radius: 25px;
    background: transparent;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.card {
    width: 350px;
    height: 454px;
    border-radius: 25px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border: 4px solid #434141;
    border-radius:30px;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
  
  .circle:nth-child(1) {
    top: -45px;
    left: -45px;
  }
  
  .circle:nth-child(2) {
    bottom: -45px;
    right: -45px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

#box2{
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.title{
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.box2-left{
    padding: 20px;
    text-align: left;
}
.contact-btn{
    width: 200px;
    height: 50px;
    background: black;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 23px;
}
.contact-btn:hover{
    transition-delay: 0.2s ease-in-out;
    border: 2px solid black;
}
.box2-right{
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 20px;
    gap: 15px;
    align-items: center;
    text-align: center;
}
.box2-right-content{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.skills{
    color: black;
    padding: 10px;
    height: 40px;
    background: #ccc;
    border-radius: 7px;

}
.skills:hover{
    cursor: pointer;
    transition-delay: 0.1s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#box3{
    margin-top: 100px;
}
.title-box3{
    text-align: center;
}
.project-templates{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.project{
    width: 320px;
    height: 420px;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 35px;
    border-radius: 20px;
    background: #ccc;
    box-shadow: 5px 5px 20px black;
}
.project-image img{
    height: 150px;
    width: 150px;
    border: 3px solid #ccc;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.project-link a{
    text-decoration: none;
    color: black;
}
.project-link{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#box4{
    width: 100%;
    height: 600px;
    background:url("https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png");
    text-align: center;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 200px;
}
#box4 h1{
    font-size: 50px;
    font-weight: 700;
}
#box4 p{
    font-size:15px;
    font-weight: 0;
}
.contact-form{
   width: 500px;
   text-align: left;
   background: black;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 20px;
   margin: auto;
   border-radius:20px ;
   box-shadow: 5px 5px 20px black;
   border: 3px solid #ccc;
}
.contact-form input{
    margin: auto;
    padding: 15px;
    background: #ccc;
    color: #ffff;
    width: 80%;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contact-form textarea {
    margin: auto;
    width: 300px;
    /*Adjustwidthasneeded*/height: 150px;
    /*Adjustheightasneeded*/padding: 8px;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    /*Allowsverticalresizingofthetextarea*/:;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.submit{
    align-self: flex-end;
    height: 60px;
    width: 200px;
    font-size: 20px;
    background: purple;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.submit:hover{
    background: rgb(70, 2, 70);
}
footer{
    padding: 35px;
    width: 100%;
    background: black;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer-icons{
    display: flex;
    gap: 25px;
}
.footer-icons a{
    color: #fff;
}
.copyright{
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }
